:root {
    --body-font-font-family: Poppins;
    --body-font-font-style: normal;
    --body-font-font-weight: 300;
    --body-font-line-height: 1.8em;
    --body-font-letter-spacing: 0em;
    --body-font-text-transform: none;
    --large-text-size: 1.4rem;
    --large-text-size-value: 1.4;
    --normal-text-size: 1rem;
    --normal-text-size-value: 1;
    --small-text-size: .9rem;
    --small-text-size-value: .9;
}

.main {
    font-size: calc((var(--normal-text-size-value) - 1)* 1.2vw + 1rem);
    font-family: var(--body-font-font-family);
    font-style: var(--body-font-font-style);
    font-weight: var(--body-font-font-weight);
    line-height: var(--body-font-line-height);
    letter-spacing: var(--body-font-letter-spacing);
    text-transform: var(--body-font-text-transform);
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.headbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    line-height: 1;
    min-width: 1vw;
    background-color: hsl(353, 80%, 55%);
    color: white;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
}

.head-nav {
    position: relative;
    display: block;
    width: 100%;
    max-height: 6vh;
    max-width: 1200px;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.head-nav-wrapper {
    display: inline-block;
    width: 100%;
    max-width: 1200px;
}

.header-logo {
    display: inline-block;
    transition: opacity 1s ease, transform 1s ease;
}

.header-logo img {
    width: auto;
    max-height: 55px;
}

.header-text {
    line-height: 4vw;
    text-align: right;
    margin-left: auto;
    padding-left: 2vw;
    float: right;
}

.nav-list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.nav-list>div {
    white-space: nowrap;
    margin-left: 1.6vw;
}

.nav-list>div>a {
    color: white;
    padding: .1em 0;
    text-decoration: none;
}

.header-icons {
    text-align: right;
    margin-left: auto;
    padding-left: 2vw;
}

.article {
    clear: both;
    margin-top: 9vw;
    background-color: blue;
    margin-left: 5vw;
    margin-right: 5vw;
    display: inline-block;
    max-width: 100%;
    height: 1200px;
    max-height: 100%;
}

.post {
    display: inline-block;
    margin-top: 2vw;
}

.article-image {
}

.article-image img {
    height: 552px;
    width: 552px;
    object-fit: cover;
    object-position: 71.69271414620536% 54.087747665559824%;
}

.article-text {
    padding-left: 0;
    padding-right: 0;
    line-height: normal;
    margin-left: 1vh;
    font-size: calc((1.2 - 1)* 1.2vw + 1rem);
}

.article-text>div {
    font-size: calc((1 - 1)* 1.2vw + 1rem);
}

.article-text>a {
    padding: .1em 0;
    text-decoration: none;
}

.title {
    color: hsl(0, 58%, 61%);
}
